html, body, div, span, iframe,
h1, h2, h3, h4, p, a, img, ul, li, form, label,
figure, figcaption, footer, header, nav, section {
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}